<?xml version="1.0"?>
<!--
/**
 * Copyright © Experius. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Experius\HeadlessCheckout\Api\HeadlessCheckoutManagementInterface" type="Experius\HeadlessCheckout\Model\HeadlessCheckoutManagement"/>
    <preference for="Experius\HeadlessCheckout\Api\GuestHeadlessCheckoutManagementInterface" type="Experius\HeadlessCheckout\Model\GuestHeadlessCheckoutManagement"/>
    <preference for="Experius\HeadlessCheckout\Api\Data\CheckoutStateInterface" type="Experius\HeadlessCheckout\Model\Data\CheckoutState"/>
</config>
